:root {
    --bg-main: #121214;
    --bg-buttom: rgba(66, 211, 255, 0.13);
    
    --color-main: #FFFFFF;
    --color-active: #42D3FF;

    font-size: 62.5%;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.body{
    background: var(--bg-main);
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main{
    width: 22.8rem;
}
.time, .buttons{
    width: 100%
}

.timer span {
    font-size: 8.8rem;
}
buttom {
    background-color: var(--bg-buttons);
    border: none;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-buttom);
    border-radius: 99px;
    padding: 2.2rem 4.0rem;
}







footer {
    position: absolute;
    right: 0;
    bottom: 0;
}